<ion-view view-title="Titre de l'event">
  <ion-content>
    <!-- Grid -->
    <div class="container mainEventContent">
      <h3 class="text-center">Titre</h3>
      <!-- singleEvent -->
      <div class="singleEvent">
        <div class="imgEvent backgroundProperty">
          <span class="dateOnEventCard">23 avril</span>
        </div>
        <div class="eventText">
          <p class="text-center"> Un gros foot à rognonas !</p>
        </div>
      </div>
      <!-- end singleEvent -->
    </div>
    <!-- end Grid -->
  </ion-content>
</ion-view>
