<ion-view view-title="Événements">
  <ion-content>
    <div class="col-xs-12 buttonNewEventContainer">
      <button class="col-xs-12 newEvent">Créer un événement</button>
    </div>
    <!-- Grid -->
    <div class="container mainEventContent">
      <h3 class="text-center">Liste des événements</h3>
      <!-- singleEvent -->
      <div class="singleEvent">
        <div class="imgEvent backgroundProperty">
          <span class="dateOnEventCard">23 avril</span>
        </div>
        <div class="eventText">
          <p class="text-center"> Un gros foot à rognonas !</p>
        </div>
      </div>
      <!-- end singleEvent -->

      <!-- singleEvent -->
      <div class="singleEvent">
        <div class="imgEvent backgroundProperty">
          <span class="dateOnEventCard">23 avril</span>
        </div>
        <div class="eventText">
          <p class="text-center"> Un gros foot à rognonas !</p>
        </div>
      </div>
      <!-- end singleEvent -->
    </div>
    <!-- end Grid -->
  </ion-content>
</ion-view>
