<ion-view view-title="Match à rognonas">
  <ion-content>
    <!-- Grid -->
    <button class="btn-btn btn-default" ui-sref="login"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</button>
    <div class="mainSingleEventContent">
      <!-- singleEvent -->
      <div class="theEvent">
        <div class="pictureEvent backgroundProperty">
        </div>
        <div class="actionOnEvent">
          <button class="col-xs-6">J'y vais</button>
          <button class="col-xs-6">Je n'y vais pas</button>
        </div>
        <div class="dateAndPlace container">
          <p>
            <i class="fa fa-calendar appColor"></i>
            23 mai
            <span>14h à 18h</span>
          </p>
          <p>
            <i class="fa fa-map-marker appColor"></i>
            Rognonas
            <span>(1 rue de ta mère 13160 Chateaurenard)</span>
          </p>
        </div>
        <div class="eventInfos">
          <div class="heading">
            <p class="container">
              <i class="fa fa-info-circle appColor"></i>
              Description
            </p>
            <hr>
          </div>
          <div class="container">
            <div class="eventDescription">
              <p> Une bonne partie de foot pour mettre des grosses barres rentrantes
              Une bonne partie de foot pour mettre des grosses barres rentrantes
            Une bonne partie de foot pour mettre des grosses barres rentrantes
            Une bonne partie de foot pour mettre des grosses barres rentrantes
            Une bonne partie de foot pour mettre des grosses barres rentrantes</p>
            </div>
          </div>
          <hr>
          <div class="heading">
            <p class="container">
              <i class="fa fa-users appColor"></i>
              Participants
            </p>
            <hr>
          </div>
          <div class="comingPeople">
            <ul>
              <li class="col-xs-3 backgroundPropertyAvatar" style="background:url('../main/img/face.jpg')"></li>
              <li class="col-xs-3 backgroundPropertyAvatar" style="background:url('../main/img/face.jpg')"></li>
              <li class="col-xs-3 backgroundPropertyAvatar" style="background:url('../main/img/face.jpg')"></li>
              <li class="col-xs-3 backgroundPropertyAvatar" style="background:url('../main/img/face.jpg')"></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- end singleEvent -->
    </div>
    <!-- end Grid -->
  </ion-content>
</ion-view>
