<ion-view view-title="Connexion" class="loginPage">
  <ion-content>
    <div class="container margin-top-small">
      <div class="main">
        <div class="col-xs-12">
          <img class="logo" src="../main/img/logo.png">
          <form class="" method="post" action="#">
            <div class="form-group">
              <label for="name" class="cols-sm-2 control-label">Pseudo ou email</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                <input style="font-weight: bold; padding-left: 2px;" placeholder="Username" ng-model="user.username" type="text" class="form-control" name="name" id="name"/>
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="cols-sm-2 control-label">Mot de passe</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                <input style="font-weight: bold; padding-left: 2px;" placeholder="Password" ng-model="user.password" type="password" class="form-control" name="password" id="password"/>
              </div>
            </div>
          </form>
          <div class="padding">
            <button class="button button-block button-positive" ng-click="signIn(user)">
              Connexion
            </button>
          </div>
          <div ng-show="message">
            {{ message }}
          </div>
          <ul style="padding-top: 20px;" class="text-center margin-top-small">
            <a ui-sref="register"><label class="col-xs-12">Inscription</label></a>
            <a><label style="padding-top: 20px;" class="col-xs-12" ui-sref="forgotPassword">Mot de passe oublié ?</label></a>
          </ul>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
